<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<table border="1" style="background-color: gold">
    <tbody>
    <tr style="background-color: silver">
        <th>
            <a th:text="${user.getId()}">ID</a>
            <form th:method="POST" th:action="@{/users/edit_user/{id}(id=${user.getId()})}" th:object="${user}">
                <label for="name">Name: </label>
                <input th:field="*{name}" type="text" th:value="${user.getName()}" id="name"/>
                <br/>
                <label for="surname">Surname: </label>
                <input th:field="*{surname}" type="text" th:value="${user.getSurname()}" id="surname"/>
                <br/>
                <label for="activity">Activity: </label>
                <input th:field="*{activity}" type="text" th:value="${user.getActivity()}" id="activity"/>
                <br/>
                <label for="country">Country: </label>
                <input th:field="*{country}" type="text" th:value="${user.getCountry()}" id="country"/>
                <br/>
                <input type="submit" value="EDIT!" style="background-color: gold">
            </form>
            <a th:href="@{/users}">
                <input type="submit" value="RETURN" style="background-color: gold">
            </a>
        </th>
    </tr>
    </tbody>
</table>
</body>
</html>